---
layout: default
title: GitLab's Guide to Total Rewards
extra_css:
  - total-rewards.css
---

.content-container.total-rewards
  .wrapper.container{ role: "main" }
    .row.total-rewards-overview
      .col-md-4
        .content-section
          %h3.total-rewards-title Compensation
          %ul.total-rewards-list
            %li
              %a{ href: "/handbook/total-rewards/compensation/#gitlabs-compensation-principles" } Why: Our Compensation Principle
            %li
              %a{ href: "/handbook/total-rewards/compensation/compensation-calculator/" } What: Compensation Calculator Inputs
            %li
              %a{ href: "/handbook/total-rewards/compensation/compensation-review-cycle/" } How: Compensation Review Cycle

      .col-md-4
        .content-section
          %h3.total-rewards-title Benefits
          %ul.total-rewards-list
            %li
              %a{ href: "/handbook/total-rewards/benefits/#guiding-principles" } Why: Our Benefits Principle
            %li
              %a{ href: "/handbook/total-rewards/benefits/general-and-entity-benefits/#general-benefits" } What: General Benefits
            %li
              %a{ href: "/handbook/total-rewards/benefits/benefits-survey/#global-benefits-survey" } How: Global Benefits Survey
      .col-md-4
        .content-section
          %h3.total-rewards-title Equity
          %ul.total-rewards-list
            %li
              %a{ href: "/handbook/stock-options/#stock-options" } Why: Why we grant Equity to Team Members
            %li
              %a{ href: "/handbook/stock-options/#stock-option-grant-levels" } What: What we grant to Team Members
            %li
              %a{ href: "/handbook/stock-options/#exercising-your-options" } How: Accepting, Understand and Exercising Awards

    .row
      .col-md-6.col-md-offset-3
        .content-section
          %h2.total-rewards-title.text-center Meet the Total Rewards Team

          %ul
            %li Pattie Egan - VP, Total Rewards and People Operations
            %li Shristi Kauffman - Senior Director, Total Rewards
            %li Morgan Wilkins - Manager, Compensation
            %li Raisha Kole - Senior Benefits Program Manager
            %li Sandra Choi - Global Compensation Partner
            %li Franz Rivera - Senior Compensation Analyst
            %li Phillip Kim - Senior Benefits Program Manager

          For feedback or questions relating to compensation, benefits and equity, you can reach out to us via:

          %ul
            %li
              Email:
              %a{ href: "mailto:total-rewards@gitlab.com" } total-rewards@gitlab.com
            %li Slack: #people-connect
            %li
              Open an 
              %a{ href: "https://gitlab.com/gitlab-com/people-group/total-rewards/issues/new" } issue

    %div.total-rewards-calendar
      .row
        .col-md-12
          .content-section
            %h2.total-rewards-title.text-center Total Rewards Calendar
            %div Throughout the year, the total rewards team will need action from leadership and individual contributors. Below is a summary of the major events that will be coming up and affect everyone at GitLab. For more detailed information on the issues the total rewards team is working on, please see the total rewards issue tracker.

